<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>


      <%= form_with(model: current_user, method: "put", local: true ) do |f|%>
      <h1 class="h3 mb-3 font-weight-normal text-center text-success border-bottom pb-3">Modification du profil</h1>

      <div class="row mt-5 mb-3">
        <div class="col">
          <%= f.text_field :first_name, value: current_user.first_name,required: true, autofocus: true, autocomplete: "first_name", class: "form-control", placeholder: "Prénom" %>
        </div>

        <div class="col">
          <%= f.text_field :last_name ,  value: current_user.last_name,required: true, autocomplete: "last_name", class: "form-control", placeholder: "Nom" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :birthdate %>
        <%= f.date_field :birthdate ,  value: current_user.birthdate,required: true, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :weight, "Poids en kg" %>
        <%= f.number_field :weight, value: current_user.weight ,required: true, class:"form-control"%>
      </div>

      <div class="form-group">
          <%= f.label :height, "Taille en cm"%>
          <%= f.number_field :height ,value: current_user.height, required: true, class:"form-control"%>
      </div>
      <div class="text-center"> 
        <div class="form-group">
          <%= f.label :sexe %>
          <%= f.select :gender, [['Homme'],['Femme']] , value: current_user.gender,required: true%>
        </div>
  
        <div class="form-group">
          <%= f.label :activity %>
          <%= f.select :physical_activity, [['Sedentaire', '1.37'],['Actif', '1.50'],['Tres Actif', '1.80']] ,required: true, class:"form-control"%>
        </div>
  
        <div class="actions mt-5 mb-3">
          <%= submit_tag "Mettre a jour mon profil", class: "btn btn-lg btn-success btn-block px-3" %>
        </div>
        <% end %>
  
        <%= link_to "Modifier votre email et Mot de passe", edit_user_registration_path, class: "text-warning" %>
      </div>

      <div class="text-center mt-3">
          <%= link_to '« Retour Profil', user_path(current_user.id), class:"btn btn-outline-warning" %>
      </div>
    </div>
  </div>
</div>

