<div class="container shadow-lg bg-white rounded py-3">
  <br>
  
    <h1 class="text-center mt-4 text-success border-bottom pb-3"> Bienvenue sur votre profil <%=current_user.first_name%> <%=current_user.last_name%></h1>
    <br><br>
    <div class="row1">

      <div class="d-flex justify-content-center mt-5">
        <div class="card w-50">
          <div class="card-body">
            <h5 class="card-title"><%= current_user.first_name %> <%= current_user.last_name %></h5>
            <p class="card-text"><%= current_user.gender %></p>
            <p class="card-text"><%= current_user.birthdate != nil ? current_user.birthdate.strftime('%d/%m/%Y') : "Date de naissance non renseignée" %></p>
            <p class="card-text"><%= current_user.get_age %> ans</p>
            <p class="card-text"><%= current_user.email %></p>
            <p class="card-text"></p>
            <p class="card-text"></p>
            <p class="card-text"></p>
          </div>
        </div>
  
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Taille : <%= current_user.height %></li>
          <li class="list-group-item">Poids : <%= current_user.weight %></li>
          <li class="list-group-item">Fréquence de l'activité : <%= current_user.pa_title %></li>
          <li class="list-group-item">Objectif : <%= current_user.obj_title %></li>
          <li class="list-group-item">Métabolisme Basal : <%= current_user.mb %> kcal</li>
          <li class="list-group-item">Besoin Calorique quotidien : <%= current_user.drc %> kcal</li>
        </ul>
  
    </div>
    <div class="row2 mt-5">

      <div class="text-center mt-3">
        <%if current_user.id == current_user.id %>
          <%= link_to 'Modifier le compte', edit_user_registration_path, class:"btn btn-outline-success" %> |
          <% if current_user.incomplete_profile? %>
              <%= link_to 'Remplir votre profil', edit_user_path, "data-target" => "#settingModal", "data-toggle" =>"modal" ,remote: true,class:"btn btn-success" %>
          <% else%>
            <%= link_to 'Modifier le profil', edit_user_path, "data-target" => "#settingModal", "data-toggle" =>"modal" ,remote: true,class:"btn btn-success" %>
          <% end %>
        <% end %>
      </div>
    
      <div class="text-center mt-3">
          <%= link_to '« Retour au planning', root_path, class:"btn btn-outline-warning" %>
      </div>
      <br>
      </div>

    </div>
</div>
  
  <div class="modal fade " id="settingModal" tabindex="-1" role="dialog" aria-labelledby="settingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="settingBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
