<%= form_with(model: [:admin, @admin_recipe], local: true) do |f| %>
  <% if admin_recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_recipe.errors.count, "error") %> prohibited this admin_recipe from being saved:</h2>

      <ul>
      <% admin_recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title%>
  <%= f.text_field :title, class:"form-control"%>
  <br>
  <%= f.label :forhowmany%>
  <%= f.number_field :forhowmany, min: 1, class:"form-control"%>
  <br>
  <%= f.label :cookingtime%>
  <%= f.number_field :cookingtime, step: 5, class:"form-control"%>
  <div class="d-flex flex-row mt-2">
    <div class="mr-5">
    <%= f.label :category, "Type de recette"%>
    <%= f.select :category, [["Starter"],["Dish"], ["Fruit"], ["Drink"], ["Complement"], ["Hot Drink"], ["Juice"], ["Cereal (Breakfast)"], ["Protein (Breakfast)"], ["Option (Breakfast)"]], class:"form-control"%>
    </div>
    <div class="mx-5">
    <%= f.label :budget, "Budget"%>
    <%= f.select :budget, [['Bon marché'],['Coût moyen'],['Assez Cher']], class:"form-control"%>
    </div>
  </div>
  <div class="d-flex flex-row mt-2">
    <%= f.label :vegan, "Vegan" %>
    <%= f.check_box :vegan %>
    <%= f.label :vegetarian, "Végétarien" %>
    <%= f.check_box :vegetarian %>
    <%= f.label :porkless, "Sans porc" %>
    <%= f.check_box :porkless %>
  </div>
  <%= f.label :url%>
  <%= f.text_field :url, class:"form-control"%>
  <br>

<p>Liste des ingrédients :</p>
  <div class="food">
    <%= f.fields_for :join_recipe_foods do |recipe_form| %>
        <%= render 'join_recipe_food_fields', f: recipe_form%>
    <% end %>
  </div>
  <br>
  <div>
  <%= link_to_add_association 'Ajouter un aliment', f, :join_recipe_foods, class:"btn btn-success", data: { association_insertion_node: '.food', association_insertion_method: :append } %>
  </div>
  <br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>


