  <div class="nested-fields row my-1">
    <div>
      <%= link_to_remove_association "remove", f, class:"btn btn-danger"%>
    </div>
    <%= f.label :quantity, class:"mx-2" %>
    <%= f.number_field :quantity, class:"form-control" %>
    <%= f.label :name, class:"mx-2" %>
    <%= f.collection_select(:food_id, Food.all, :alim_code, :alim_name) %>
  </div>