<div class="text-center">
  <h1>Liste des Recettes</h1>
  <%= link_to 'Nouvelle Recette', new_admin_recipe_path, class:"btn btn-primary btn-lg" %>
  <%= link_to 'CSV Recipes', admin_recipes_path(notice: "recipe", format: :csv), class:"btn btn-success btn-lg" %>
  <%= link_to 'CSV Joins', admin_recipes_path(notice: "join", format: :csv), class:"btn btn-success btn-lg" %>
</div>

<% @categories.each do |item| %>
  <h4><%= item %></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom de la recette</th>
      <th>Pour combien de personnes</th>
      <th>Temps de préparation</th>
      <th>Budget</th>
      <th>Kcal</th>
      <th>Lien vers la recette</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_recipes.each do |admin_recipe| %>
      <% if admin_recipe.category ==  item %>
        <tr>
          <td><%= admin_recipe.title %></td>
          <td><%= admin_recipe.forhowmany %></td>
          <td><%= admin_recipe.cookingtime %></td>
          <td><%= admin_recipe.budget %></td>
          <td><%= admin_recipe.total_kcal %></td>
          <td><%= admin_recipe.url %></td>
          <td><%= link_to 'Show', admin_recipe_path(admin_recipe.id) %></td>
          <td><%= link_to 'Edit', edit_admin_recipe_path(admin_recipe.id) %></td>
          <td><%= link_to 'Destroy', admin_recipe_path(admin_recipe.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

