<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 mt-5">
      <div class="text-center">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
         <h2 class="mb-3 font-weight-normal text-center text-success border-bottom pb-3">Modifier le compte</h2>
         <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field mt-4">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field mt-3">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"Nouveau mot de passe ou vide si aucune modification de celui-ci" %>
          </div>

          <div class="field mt-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"Nouveau mot de passe" %>
          </div>

          <div class="field mt-3">
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder:"Mot de passe actuel pour confirmer les modifications" %>
          </div>

          <div class="actions mt-3 mb-5">
            <%= f.submit "Mettre à jour", class:"btn btn-success"  %>
          </div>
        <% end %>

        <h3 class="mt-5 font-weight-normal text-center text-success border-bottom pb-3">Voulez-vous supprimer votre compte?</h3>
          <p>Déçu ? <%= button_to "Supprimez mon compte !", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>
      
      <div class="mt-5">
        <div class="text-center">
          <%= link_to "Retour", :back, class:"btn btn-outline-warning" %>
        </div>
      </div>

    </div>
    <div class="col-3"></div>
  </div>
</div>
