
<div class="sidebar-wrapper"  hidden="true" id="nav">
  <nav class="sidenav flex-column scrollable" style="">
    <table class="table table-borderless" >
      <h3 class="text-center">Liste de course</h3>
      <hr style="margin: 25px;" class="bold">
      <tbody>
		<br/>
        <% @alim_groups.each do |alim_group| %>
          <b class="ml-4"><%= alim_group.capitalize %></b>
          <table class="ml-4">
            <tbody>
              <% @day.list.each do |elem|%>
                  <% food = Food.find_by("alim_name like?", "%#{elem[0]}%") %>
                    <% if alim_group ==  food.alim_group %>            
                      <tr>
                        <% if food.weight_for_one != 1%>
                          <td><%= (elem[1].ceil / food.weight_for_one).ceil%></td>
                        <% elsif elem[1].ceil < 999 %>
                          <td><%= elem[1].ceil%> <%= food.basic_unity%></td>
                        <% else %>
                          <td><%= (elem[1].ceil.to_f / 1000).ceil(2)%> <%= food.thousand_unity%></td>
                        <%end%>
                        <td class="bold"><%= elem[0]%></td>
                      </tr>
                  <% end %>
                <% end %>
            </tbody>
          </table>
          <hr>
              <% end %>
      </tbody>
    </table>
    <br><br><br><br>
    <br>
  </nav>
  <div class="blur" id="close">
  </div>
</div>


<div class="container">

  <h1 class="mt-4 text-center text-success border-bottom py-3"><%= @users_day.name %></h1>
  <%= link_to 'Petit Déjeuner', breakfast_path(current_user.breakfast.id),class:"h3 mt-4 text-warning border-bottom py-3" %>
  <br><br>
  <ul>
    <li class="d-flex justify-content-between my-1"><%= current_user.breakfast.hotdrink.title %> </li>
    <li class="d-flex justify-content-between my-1"><%= current_user.breakfast.fruit.title %> </li>
    <li class="d-flex justify-content-between my-1"><%= current_user.breakfast.protein.title %> </li>
    <li class="d-flex justify-content-between my-1"><%= current_user.breakfast.cereal.title %> </li>
    <li class="d-flex justify-content-between my-1"><%= current_user.breakfast.option.title %> </li>
  </ul>
  <%= link_to 'Déjeuner', meal_path(@users_day.lunch.id),class:"h3 mt-4 text-warning border-bottom py-3" %>
  <br><br>
  <ul>
    <li class="d-flex justify-content-between my-1"><%= @users_day.lunch.starter.title %> <%= link_to "Voir la recette proportionnée", recipe_path(@users_day.lunch.starter.id, ratio: current_user.needbymeal(@users_day.lunch.category)/@users_day.lunch.kcal),  remote: true, "data-target" => "#recipeModal", "data-toggle" =>"modal", class:"btn btn-outline-warning" %> </li>
    <li class="d-flex justify-content-between my-1"><%= @users_day.lunch.dish.title %> <%= link_to "Voir la recette proportionnée", recipe_path(@users_day.lunch.dish.id, ratio: current_user.needbymeal(@users_day.lunch.category)/@users_day.lunch.kcal),  remote: true, "data-target" => "#recipeModal", "data-toggle" =>"modal", class:"btn btn-outline-warning" %></li>
    <li class="d-flex justify-content-between my-1"><%= @users_day.lunch.dessert.title %> </li>
  </ul>
  <%= link_to 'Dinner', meal_path(@users_day.dinner.id),class:"h3 mt-4 text-warning border-bottom py-3" %>
  <br><br>
  <ul mb-5>
    <li class="d-flex justify-content-between my-1"><%= @users_day.dinner.starter.title %> <%= link_to "Voir la recette proportionnée", recipe_path(@users_day.dinner.starter.id, ratio: current_user.needbymeal(@users_day.dinner.category)/@users_day.dinner.kcal),  remote: true, "data-target" => "#recipeModal", "data-toggle" =>"modal", class:"btn btn-outline-warning" %></li>
    <li class="d-flex justify-content-between my-1"><%= @users_day.dinner.dish.title %> <%= link_to "Voir la recette proportionnée", recipe_path(@users_day.dinner.dish.id, ratio: current_user.needbymeal(@users_day.dinner.category)/@users_day.dinner.kcal),  remote: true, "data-target" => "#recipeModal", "data-toggle" =>"modal", class:"btn btn-outline-warning" %></li>
    <li class="d-flex justify-content-between my-1"><%= @users_day.dinner.dessert.title %> </li>
  </ul>
  <div class="text-center mt-5"> |
    <button name="button" id="shopping-list"class="btn btn-danger">Afficher Liste de Course</button>
  </div>
</div>

<div class="modal fade " id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="recipeBody">
      </div>
      <div class="modal-footer">
        <button tye="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<script>
var btn = document.getElementById("shopping-list");

btn.addEventListener("click", function(){
  var nav = document.getElementById("nav");
  nav.hidden = false

  }, false);

var close = document.getElementById("close");
close.addEventListener("click", function(){
  var nav = document.getElementById("nav");
  nav.hidden = true

  }, false);
</script>