<div class="container">

  <h1 class="mt-4 text-center text-success border-bottom py-3"><%= @users_day.name %></h1>
  <%= link_to 'Petit Déjeuner', meal_path(@users_day.breakfast.id),class:"h3 mt-4 text-warning border-bottom py-3" %>
  <br><br>
  <ul>
    <li class="d-flex justify-content-between my-1"><%= @users_day.breakfast.starter.title %> <%= link_to "Voir la recette proportionnée", recipe_path(@users_day.breakfast.starter.id, ratio: current_user.needbymeal(@users_day.breakfast.category)/@users_day.breakfast.kcal), class:"btn btn-outline-warning" %></li>
    <li class="d-flex justify-content-between my-1"><%= @users_day.breakfast.dish.title %> <%= link_to "Voir la recette proportionnée", recipe_path(@users_day.breakfast.dish.id, ratio: current_user.needbymeal(@users_day.breakfast.category)/@users_day.breakfast.kcal), class:"btn btn-outline-warning" %></li>
    <li class="d-flex justify-content-between my-1"><%= @users_day.breakfast.dessert.title %> </li>
  </ul>
  <%= link_to 'Déjeuner', meal_path(@users_day.lunch.id),class:"h3 mt-4 text-warning border-bottom py-3" %>
  <br><br>
  <ul>
    <li class="d-flex justify-content-between my-1"><%= @users_day.lunch.starter.title %> <%= link_to "Voir la recette proportionnée", recipe_path(@users_day.lunch.starter.id, ratio: current_user.needbymeal(@users_day.lunch.category)/@users_day.lunch.kcal), class:"btn btn-outline-warning" %> </li>
    <li class="d-flex justify-content-between my-1"><%= @users_day.lunch.dish.title %> <%= link_to "Voir la recette proportionnée", recipe_path(@users_day.lunch.dish.id, ratio: current_user.needbymeal(@users_day.lunch.category)/@users_day.lunch.kcal), class:"btn btn-outline-warning" %></li>
    <li class="d-flex justify-content-between my-1"><%= @users_day.lunch.dessert.title %> </li>
  </ul>
  <%= link_to 'Dinner', meal_path(@users_day.dinner.id),class:"h3 mt-4 text-warning border-bottom py-3" %>
  <br><br>
  <ul mb-5>
    <li class="d-flex justify-content-between my-1"><%= @users_day.dinner.starter.title %> <%= link_to "Voir la recette proportionnée", recipe_path(@users_day.dinner.starter.id, ratio: current_user.needbymeal(@users_day.dinner.category)/@users_day.dinner.kcal), class:"btn btn-outline-warning" %></li>
    <li class="d-flex justify-content-between my-1"><%= @users_day.dinner.dish.title %> <%= link_to "Voir la recette proportionnée", recipe_path(@users_day.dinner.dish.id, ratio: current_user.needbymeal(@users_day.dinner.category)/@users_day.dinner.kcal), class:"btn btn-outline-warning" %></li>
    <li class="d-flex justify-content-between my-1"><%= @users_day.dinner.dessert.title %> </li>
  </ul>
  <div class="text-center mt-5">
    <%= link_to 'Edit', edit_day_path(@users_day), class:"text-warning" %> |
    <%= link_to 'Index', days_path, class:"text-warning" %> |
    <%= link_to 'Back', :back, class:"text-warning" %>
  </div>
</div>
