<div class="container">
  <div class="row"><div> <br><br><br></div></div>
  <div class="row">
    <div class="col-md-6 offset-md-3 shadow-lg bg-white rounded py-3">
      <br>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-signin mt-3" }) do |f| %>
        <h1 class="h3 mb-3 font-weight-normal text-center text-success border-bottom pb-3">Mot de passe oublié ?</h1>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group mt-5">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
        </div>

        <div class="actions mt-5">
          <%= f.submit "M'envoyer les instructions", class: "btn btn-lg btn-success btn-block px-3" %>
        </div>
      <% end %>

      <div class = "text-center text-success my-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

