<p id="notice"><%= notice %></p>

<h1>Users Weeks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_weeks.each do |users_week| %>
      <tr>
        <td><%= link_to 'Show', users_week %></td>
        <td><%= link_to 'Edit', edit_users_week_path(users_week) %></td>
        <td><%= link_to 'Destroy', users_week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Week', new_users_week_path %>
