<div class="sidebar-wrapper"  hidden="true" id="nav">
  <nav class="sidenav flex-column scrollable">
    <table class="table table-borderless" >
      <h3 class="text-center">Liste de course</h3>
      <hr style="margin: 25px;" class="bold">
      <tbody>
		<div class="d-flex flex-row justify-content-center align-items-center">
      <% unless current_user.is_premium %>
        <span class="badge badge-pill badge-light"><i class="far fa-star mr-2"></i> Premium</span>
      <% end %>
		  <%= link_to "Recevoir la liste de course par email", shopping_email_path, data: { confirm: "Voulez vous recevoir votre liste par email ?" }, class:'btn btn-warning'%>
		</div>
		<br/>
        <% @alim_groups.each do |alim_group| %>
          <b class="ml-4"><%= alim_group.capitalize %></b>
          <table class="ml-4">
            <tbody>
            <% current_user.shopping_cart.each do |elem|%>
            <% food = Food.find_by("alim_name like?", "%#{elem[0]}%") %>
              <% if alim_group ==  food.alim_group %>            
                <tr>
                  <% if food.weight_for_one != 1%>
                    <td><%= (elem[1].round / food.weight_for_one).ceil%> <%= food.basic_unity%></td>
                  <% elsif elem[1].round < 999 %>
                    <td><%= elem[1].round%> <%= food.basic_unity%></td>
                  <% else %>
                    <td><%= (elem[1].round.to_f / 1000).round(2)%> <%= food.thousand_unity%></td>
                  <%end%>
                  <td class="bold"><%= elem[0]%></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
                    <hr>
        <% end %>
      </tbody>
    </table>
    <br><br><br><br>
  </nav>
  <div class="blur" id="close">
  </div>
</div>

<div class="container-fluid">
  <div class="text-center d-flex flex-row justify-content-center">
    <div class="text-center flex-row mx-2">
      <%= form_with(model: current_user, method: 'put', local: true) do |f| %>
        <% if @users_week.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@users_week.errors.count, "error") %> prohibited this @users_week from being saved:</h2>
            <ul>
            <% @users_week.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
          <%= f.label :express, "Express (-15min)" %>
          <%= f.check_box :express %> |
          <%= f.label :vegan %>
          <%= f.check_box :vegan %> |
          <%= f.label :vegetarian, "Végétarien" %>
          <%= f.check_box :vegetarian %> |
          <%= f.label :porkless, "Sans porc" %>
          <%= f.check_box :porkless %>


          <%= f.submit "Générer une nouvelle semaine", class:"btn btn-success ml-2" %>

      <% end %>
    </div>

    <div class="text-center flex-row mx-2">
      <button name="button" id="shopping-list"class="btn btn-danger">Afficher Liste de Course</button> 
    </div>
  </div>

  <div class="d-flex flex-row mt-3">
    <% current_user.week.days.each do |day|%>
      <div class="card mx-1 border-bottom border-left border-right border-success" style="width: 16rem;">
        <div class="card-header d-flex justify-content-between bg-success">
          <%= link_to day.name, day_path(day.id), class:"text-white"%> 
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-light text-center bg-light">
            <b><%= link_to "Petit Déjeuner", breakfast_path(current_user.breakfast.id), class:"text-warning"%></b>
          </li>
          <ul class="list-group-item size-li-planning border-bottom border-success">  
            <li class=""><%= current_user.breakfast.hotdrink.title%></li>
            <li class=""><%= current_user.breakfast.fruit.title%></li>
            <li class=""><%= current_user.breakfast.cereal.title%></li>
            <li class=""><%= current_user.breakfast.protein.title%></li>
            <li class=""><%= current_user.breakfast.option.title%></li>
            
          </ul>
          <li class="list-group-item text-light text-center bg-light">
            <b><%= link_to "Déjeuner", meal_path(day.lunch.id), class:"text-warning"%></b>
          </li>
          <ul class="list-group-item size-li-planning border-bottom border-success">    
            <li class=""><i class="fas fa-plus-circle text-success"></i> <%= link_to day.lunch.starter.title, recipe_path(day.lunch.starter.id, ratio: current_user.needbymeal(day.lunch.category)/day.lunch.kcal),  remote: true, "data-target" => "#recipeModal", "data-toggle" =>"modal", class:"text-dark text-decoration-none" %></li>
            <li class=""><i class="fas fa-plus-circle text-success"></i> <%= link_to day.lunch.dish.title, recipe_path(day.lunch.dish.id, ratio: current_user.needbymeal(day.lunch.category)/day.lunch.kcal),  remote: true, "data-target" => "#recipeModal", "data-toggle" =>"modal", class:"text-dark text-decoration-none" %></li>
            <li class=""><%= day.lunch.dessert.title%></li>
            
          </ul>
          <li class="list-group-item text-light text-center bg-light">
            <b><%= link_to "Dîner", meal_path(day.dinner.id), class:"text-warning"%></b>
          </li>
          <ul class="list-group-item size-li-planning">    
            <li class="recipe"><i class="fas fa-plus-circle text-success"></i> <%= link_to day.dinner.starter.title, recipe_path(day.dinner.starter.id, ratio: current_user.needbymeal(day.dinner.category)/day.dinner.kcal),  remote: true, "data-target" => "#recipeModal", "data-toggle" =>"modal", class:"text-dark text-decoration-none" %></li>
            <li class=""><i class="fas fa-plus-circle text-success"></i> <%= link_to day.dinner.dish.title, recipe_path(day.dinner.dish.id, ratio: current_user.needbymeal(day.dinner.category)/day.dinner.kcal),  remote: true, "data-target" => "#recipeModal", "data-toggle" =>"modal", class:"text-dark text-decoration-none" %></li>
            <li class=""><%= day.dinner.dessert.title%></li>
          </ul>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="modal fade " id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="recipeBody">
      </div>
      <div class="modal-footer">
        <button tye="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<script>
var btn = document.getElementById("shopping-list");

btn.addEventListener("click", function(){
  var nav = document.getElementById("nav");
  nav.hidden = false

  }, false);

var close = document.getElementById("close");
close.addEventListener("click", function(){
  var nav = document.getElementById("nav");
  nav.hidden = true

  }, false);
</script>
