<div class="d-flex flex-row my-3">
  <div class="card" style="width: 18rem;">
    <div class="card-header d-flex justify-content-between">
      Lundi
      <%= link_to "Voir le jour", day_path(@users_week.monday.id), class:"btn btn-info btn-sm"%>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.monday.breakfast.starter.title%></li>
        <li class=""><%= @users_week.monday.breakfast.dish.title%></li>
        <li class=""><%= @users_week.monday.breakfast.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.monday.breakfast.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.monday.lunch.starter.title%></li>
        <li class=""><%= @users_week.monday.lunch.dish.title%></li>
        <li class=""><%= @users_week.monday.lunch.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.monday.lunch.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.monday.dinner.starter.title%></li>
        <li class=""><%= @users_week.monday.dinner.dish.title%></li>
        <li class=""><%= @users_week.monday.dinner.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.monday.dinner.id), class:"btn btn-warning btn-sm"%>
      </ul>
    </ul>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header d-flex justify-content-between">
      Mardi
      <%= link_to "Voir le jour", day_path(@users_week.tuesday.id), class:"btn btn-info btn-sm"%>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.tuesday.breakfast.starter.title%></li>
        <li class=""><%= @users_week.tuesday.breakfast.dish.title%></li>
        <li class=""><%= @users_week.tuesday.breakfast.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.tuesday.breakfast.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.tuesday.lunch.starter.title%></li>
        <li class=""><%= @users_week.tuesday.lunch.dish.title%></li>
        <li class=""><%= @users_week.tuesday.lunch.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.tuesday.lunch.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.tuesday.dinner.starter.title%></li>
        <li class=""><%= @users_week.tuesday.dinner.dish.title%></li>
        <li class=""><%= @users_week.tuesday.dinner.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.tuesday.dinner.id), class:"btn btn-warning btn-sm"%>
      </ul>
    </ul>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header d-flex justify-content-between">
      Mercredi
      <%= link_to "Voir le jour", day_path(@users_week.wednesday.id), class:"btn btn-info btn-sm"%>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.wednesday.breakfast.starter.title%></li>
        <li class=""><%= @users_week.wednesday.breakfast.dish.title%></li>
        <li class=""><%= @users_week.wednesday.breakfast.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.wednesday.breakfast.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.wednesday.lunch.starter.title%></li>
        <li class=""><%= @users_week.wednesday.lunch.dish.title%></li>
        <li class=""><%= @users_week.wednesday.lunch.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.wednesday.lunch.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.wednesday.dinner.starter.title%></li>
        <li class=""><%= @users_week.wednesday.dinner.dish.title%></li>
        <li class=""><%= @users_week.wednesday.dinner.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.wednesday.dinner.id), class:"btn btn-warning btn-sm"%>
      </ul>
    </ul>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header d-flex justify-content-between">
      Jeudi
      <%= link_to "Voir le jour", day_path(@users_week.thursday.id), class:"btn btn-info btn-sm"%>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
          <ul class="list-group-item">    
        <li class=""><%= @users_week.thursday.breakfast.starter.title%></li>
        <li class=""><%= @users_week.thursday.breakfast.dish.title%></li>
        <li class=""><%= @users_week.thursday.breakfast.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.thursday.breakfast.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.thursday.lunch.starter.title%></li>
        <li class=""><%= @users_week.thursday.lunch.dish.title%></li>
        <li class=""><%= @users_week.thursday.lunch.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.thursday.lunch.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.thursday.dinner.starter.title%></li>
        <li class=""><%= @users_week.thursday.dinner.dish.title%></li>
        <li class=""><%= @users_week.thursday.dinner.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.thursday.dinner.id), class:"btn btn-warning btn-sm"%>
      </ul>
    </ul>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header d-flex justify-content-between">
      Vendredi
      <%= link_to "Voir le jour", day_path(@users_week.friday.id), class:"btn btn-info btn-sm"%>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.friday.breakfast.starter.title%></li>
        <li class=""><%= @users_week.friday.breakfast.dish.title%></li>
        <li class=""><%= @users_week.friday.breakfast.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.friday.breakfast.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.friday.lunch.starter.title%></li>
        <li class=""><%= @users_week.friday.lunch.dish.title%></li>
        <li class=""><%= @users_week.friday.lunch.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.friday.lunch.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.friday.dinner.starter.title%></li>
        <li class=""><%= @users_week.friday.dinner.dish.title%></li>
        <li class=""><%= @users_week.friday.dinner.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.friday.dinner.id), class:"btn btn-warning btn-sm"%>
      </ul>
    </ul>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header d-flex justify-content-between">
      Samedi
      <%= link_to "Voir le jour", day_path(@users_week.saturday.id), class:"btn btn-info btn-sm"%>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.saturday.breakfast.starter.title%></li>
        <li class=""><%= @users_week.saturday.breakfast.dish.title%></li>
        <li class=""><%= @users_week.saturday.breakfast.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.saturday.breakfast.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.saturday.lunch.starter.title%></li>
        <li class=""><%= @users_week.saturday.lunch.dish.title%></li>
        <li class=""><%= @users_week.saturday.lunch.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.saturday.lunch.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.saturday.dinner.starter.title%></li>
        <li class=""><%= @users_week.saturday.dinner.dish.title%></li>
        <li class=""><%= @users_week.saturday.dinner.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.saturday.dinner.id), class:"btn btn-warning btn-sm"%>
      </ul>
    </ul>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header d-flex justify-content-between">
      Dimanche
      <%= link_to "Voir le jour", day_path(@users_week.sunday.id), class:"btn btn-info btn-sm"%>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-light text-center bg-success"><b>Petit déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.sunday.breakfast.starter.title%></li>
        <li class=""><%= @users_week.sunday.breakfast.dish.title%></li>
        <li class=""><%= @users_week.sunday.breakfast.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.sunday.breakfast.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Déjeuner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.sunday.lunch.starter.title%></li>
        <li class=""><%= @users_week.sunday.lunch.dish.title%></li>
        <li class=""><%= @users_week.sunday.lunch.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.sunday.lunch.id), class:"btn btn-warning btn-sm"%>
      </ul>
      <li class="list-group-item text-light text-center bg-success"><b>Diner</b></li>
      <ul class="list-group-item">    
        <li class=""><%= @users_week.sunday.lunch.starter.title%></li>
        <li class=""><%= @users_week.sunday.lunch.dish.title%></li>
        <li class=""><%= @users_week.sunday.lunch.dessert.title%></li>
        <%= link_to "Voir le repas", meal_path(@users_week.sunday.dinner.id), class:"btn btn-warning btn-sm"%>
      </ul>
    </ul>
  </div>
</div>
<hr>
<div class="d-flex flex-row justify-content-center">
  <%= link_to "Generate Meal", meals_path, data:{method: 'post'}, class:'btn btn-warning'%> |
  <%= link_to "Generate Day", days_path, data:{method: 'post'}, class:'btn btn-info'%> |
  <%= link_to "Generate Week", week_path(@users_week.id), data:{method: 'put'}, class:'btn btn-success'%>
</div>

