<hr>
<div class="sidebar-wrapper mt-5"  hidden="true" id="nav">
  <nav class="sidenav flex-column scrollable" style="">
    <table class="table table-borderless" >
      <h3 class="text-center">Liste de course</h3>
      <hr style="margin: 25px;" class="bold">
      <tbody>
		<div class="d-flex flex-row justify-content-center">
		  <%= link_to "Recevoir la liste de course par email", shopping_email_path, data: { confirm: "Voulez vous recevoir votre liste par email ?" }, class:'btn btn-warning'%>
		</div>
		<br/>
        <% @alim_groups.each do |alim_group| %>
          <div>
          </div>
          <% current_user.shopping_cart.each do |elem|%>
          <% food = Food.find_by("alim_name like?", "%#{elem[0]}%") %>
            <% if alim_group ==  food.alim_group %>            
              <tr>
                
                <td class="bold"><%= alim_group %></td>
                <td class="bold"><%= elem[0]%></td>
                <% if food.weight_for_one != 1%>
                  <td><%= (elem[1].round / food.weight_for_one).round%></td>
                <% elsif elem[1].round < 999 %>
                  <td><%= elem[1].round%> <%= food.basic_unity%></td>
                <% else %>
                   <td><%= (elem[1].round.to_f / 1000).round(2)%> <%= food.thousand_unity%></td>
                <%end%>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <br><br><br><br>
  </nav>
  <div class="blur" id="close">
  </div>
</div>
<div class="d-flex flex-row my-3">

<% current_user.week.days.each do |day|%>
  <div class="card" style="width: 18rem;">
    <div class="card-header d-flex justify-content-between">
      <%= link_to day.name, day_path(day.id), class:"text-info"%>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-light text-center bg-light">
        <b><%= link_to "Petit Déjeuner", breakfast_path(current_user.breakfast.id), class:"text-warning"%></b>
      </li>
      <ul class="list-group-item">  
        <li class=""><%= current_user.breakfast.hotdrink.title%></li>
        <li class=""><%= current_user.breakfast.fruit.title%></li>
        <li class=""><%= current_user.breakfast.cereal.title%></li>
        <li class=""><%= current_user.breakfast.protein.title%></li>
        <li class=""><%= current_user.breakfast.option.title%></li>
        
      </ul>
      <li class="list-group-item text-light text-center bg-light">
        <b><%= link_to "Déjeuner", meal_path(day.lunch.id), class:"text-warning"%></b>
      </li>
      <ul class="list-group-item">    
        <li class=""><%= day.lunch.starter.title%></li>
        <li class=""><%= day.lunch.dish.title%></li>
        <li class=""><%= day.lunch.dessert.title%></li>
        
      </ul>
      <li class="list-group-item text-light text-center bg-light">
        <b><%= link_to "Diner", meal_path(day.dinner.id), class:"text-warning"%></b>
      </li>
      <ul class="list-group-item">    
        <li class=""><%= day.dinner.starter.title%></li>
        <li class=""><%= day.dinner.dish.title%></li>
        <li class=""><%= day.dinner.dessert.title%></li>
        
      </ul>
    </ul>
  </div>
  <% end %>
</div>



<script>
var btn = document.getElementById("shopping-list");

btn.addEventListener("click", function(){
  var nav = document.getElementById("nav");
  nav.hidden = false

  }, false);

var close = document.getElementById("close");
close.addEventListener("click", function(){
  var nav = document.getElementById("nav");
  nav.hidden = true

  }, false);
</script>
