<div class="sidebar-wrapper"  hidden="true" id="nav">
  <nav class="sidenav flex-column scrollable" style="">
    <table class="table table-borderless" >
      <h3 class="text-center">Liste de course</h3>
      <hr style="margin: 25px;" class="bold">
      <tbody>
		<div class="d-flex flex-row justify-content-center">
		  <%= link_to "Recevoir la liste de course par email", shopping_email_path, data: { confirm: "Voulez vous recevoir votre liste par email ?" }, class:'btn btn-warning'%>
		</div>
		<br/>
        <% @alim_groups.each do |alim_group| %>
          <b class="ml-4"><%= alim_group %></b>
          <table class="ml-4">
            <tbody>
            <% current_user.shopping_cart.each do |elem|%>
            <% food = Food.find_by("alim_name like?", "%#{elem[0]}%") %>
              <% if alim_group ==  food.alim_group %>            
                <tr>
                  <% if food.weight_for_one != 1%>
                    <td><%= (elem[1].round / food.weight_for_one).round%> <%= food.basic_unity%></td>
                  <% elsif elem[1].round < 999 %>
                    <td><%= elem[1].round%> <%= food.basic_unity%></td>
                  <% else %>
                    <td><%= (elem[1].round.to_f / 1000).round(2)%> <%= food.thousand_unity%></td>
                  <%end%>
                  <td class="bold"><%= elem[0]%></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
                    <hr>
        <% end %>
      </tbody>
    </table>
    <br><br><br><br>
  </nav>
  <div class="blur" id="close">
  </div>
</div>

<div class="container-fluid">
<br>
  <div class="d-flex flex-row my-3">
  <% current_user.week.days.each do |day|%>
  
      <div class="card mx-1 mb-5 border-bottom border-left border-right border-success" style="width: 18rem;">
        <div class="card-header d-flex justify-content-between bg-success">
          <%= link_to day.name, day_path(day.id), class:"text-white"%> 
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-light text-center bg-light">
            <b><%= link_to "Petit Déjeuner", breakfast_path(current_user.breakfast.id), class:"text-warning"%></b>
          </li>
          <ul class="list-group-item size-li-planning border-bottom border-success">  
            <li class=""><%= current_user.breakfast.hotdrink.title%></li>
            <li class=""><%= current_user.breakfast.fruit.title%></li>
            <li class=""><%= current_user.breakfast.cereal.title%></li>
            <li class=""><%= current_user.breakfast.protein.title%></li>
            <li class=""><%= current_user.breakfast.option.title%></li>
            
          </ul>
          <li class="list-group-item text-light text-center bg-light">
            <b><%= link_to "Déjeuner", meal_path(day.lunch.id), class:"text-warning"%></b>
          </li>
          <ul class="list-group-item size-li-planning border-bottom border-success">    
            <li class=""><%= day.lunch.starter.title%></li>
            <li class=""><%= day.lunch.dish.title%></li>
            <li class=""><%= day.lunch.dessert.title%></li>
            
          </ul>
          <li class="list-group-item text-light text-center bg-light">
            <b><%= link_to "Diner", meal_path(day.dinner.id), class:"text-warning"%></b>
          </li>
          <ul class="list-group-item size-li-planning border-bottom border-success">    
            <li class=""><%= day.dinner.starter.title%></li>
            <li class=""><%= day.dinner.dish.title%></li>
            <li class=""><%= day.dinner.dessert.title%></li>
          </ul>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="text-center flex-row mt-3">
  <% if current_user.express == false %>
    <%= link_to "Generate Only Express Cookingtime Meals", edit_express_recipe_path, class:'btn btn-info'%> |
  <% else %>
    <%= link_to "Generate Random Cookingtime Meals", edit_express_recipe_path, class:'btn btn-info'%> |
  <% end %>
  <% if current_user.vegan == false %>
    <%= link_to "Vegan", edit_vegan_path, class:'btn btn-info'%> |
  <% else %>
    <%= link_to "Pas Vegan", edit_vegan_path, class:'btn btn-info'%> |
  <% end %>
  <% if current_user.vegetarien == false %>
    <%= link_to "Végétarien", edit_vegetarian_path, class:'btn btn-info'%> |
  <% else %>
    <%= link_to "Pas végétarien", edit_vegetarian_path, class:'btn btn-info'%> |
  <% end %>
  <% if current_user.sans_porc == false %>
    <%= link_to "Sans porc", edit_pork_less_path, class:'btn btn-info'%> |
  <% else %>
    <%= link_to "Avec porc", edit_pork_less_path, class:'btn btn-info'%> |
  <% end %>
  <%= link_to "Generate Week", week_path(@users_week.id), data:{method: 'put'}, class:'btn btn-success'%> |
  <button name="button" id="shopping-list"class="btn btn-danger">Afficher Liste de Course</button> 
</div>

<br><br>







<script>
var btn = document.getElementById("shopping-list");

btn.addEventListener("click", function(){
  var nav = document.getElementById("nav");
  nav.hidden = false

  }, false);

var close = document.getElementById("close");
close.addEventListener("click", function(){
  var nav = document.getElementById("nav");
  nav.hidden = true

  }, false);
</script>
