<%= form_with(model: @users_breakfast, local: true) do |f| %>
  <% if @users_breakfast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_breakfast.errors.count, "error") %> prohibited this @users_breakfast from being saved:</h2>

      <ul>
      <% @users_breakfast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <%= f.label :name, "<h5>Boisson chaude </h5>".html_safe, class:"mb-1" %>
      <%= f.collection_select(:id, @hotdrinks, :id, :title)  %>
    </div>

    <div>
      <%= f.label :name, "<h5>Fruit </h5>".html_safe, class:"mb-1" %>
      <%= f.collection_select(:id, @fruits, :id, :title)  %>
    </div>

    <div>
      <%= f.label :name, "<h5>Céréales </h5>".html_safe, class:"mb-1" %>
      <%= f.collection_select(:id, @cereals, :id, :title)  %>
    </div>

    <div>
      <%= f.label :name, "<h5>Apport protéïné </h5>".html_safe, class:"mb-1" %>
      <%= f.collection_select(:id, @proteins, :id, :title)  %>
    </div>

    <div>
      <%= f.label :name, "<h5>Option </h5>".html_safe, class:"mb-1" %>
      <%= f.collection_select(:id, @options, :id, :title)  %>
    </div>

  <br>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>


