<h1>Meals list</h1>
<%= button_to "Generate Meal", meals_path, data:{method: 'post'}, class:'btn btn-primary'%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Catégorie</th>
      <th>Entrée</th>
      <th>Plat</th>
      <th>Dessert</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><%= meal.category %></td>
        <td><%= meal.starter.title %></td>
        <td><%= meal.dish.title %></td>
        <td><%= meal.dessert.title %></td>
        <td><%= link_to 'Show', meal %></td>
        <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


