<div class="sidebar-wrapper"  hidden="true" id="nav">
  <nav class="sidenav flex-column scrollable" style="">
    <table class="table table-borderless" >
      <h3 class="text-center">Liste de course</h3>
      <hr style="margin: 25px;" class="bold">
      <tbody>
		<br/>
        <% @alim_groups.each do |alim_group| %>
          <b class="ml-4"><%= alim_group.capitalize %></b>
          <table class="ml-4">
            <tbody>
            <% @meal.list(current_user).each do |elem|%>
            <% food = Food.find_by("alim_name like?", "%#{elem[0]}%") %>
              <% if alim_group ==  food.alim_group %>            
                <tr>
                  <% if food.weight_for_one != 1%>
                    <td><%= (elem[1].ceil / food.weight_for_one).ceil%></td>
                  <% elsif elem[1].ceil < 999 %>
                    <td><%= elem[1].ceil%> <%= food.basic_unity%></td>
                  <% else %>
                    <td><%= (elem[1].ceil.to_f / 1000).ceil(2)%> <%= food.thousand_unity%></td>
                  <%end%>
                  <td class="bold"><%= elem[0]%></td>
                </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
                    <hr>
        <% end %>
      </tbody>
    </table>
    <br><br><br><br>
  </nav>
  <div class="blur" id="close">
  </div>
</div>


<div class="container" id="test">
    <h1 class="mt-4 text-success">Votre : <%= @meal.category %></h1>
  <hr>
  <ul>
    <li class="my-2 ">Calories de ce repas pour une personne : <%= @meal.kcal.ceil %> kcal</li>
    <li class="my-2">Votre besoin à ce moment de la journée : <%= current_user.needbymeal(@meal.category).ceil %> kcal</li>
    <li class="my-2">Nous vous conseillons de multiplier les proportions de la recette par <%= (current_user.needbymeal(@meal.category)/@meal.kcal).ceil(1) %> pour coller à vos besoins réels</li>
  </ul>
  <h2 class="mt-5 text-success border-bottom py-3"> Le repas </h2>
  <ul class="no_dot_ul">
    <li class="d-flex justify-content-between mt-4 mb-1"><%= @meal.starter.title %> <%= link_to "Voir la recette proportionnée", recipe_path(@meal.starter.id, ratio: current_user.needbymeal(@meal.category)/@meal.kcal), remote: true, "data-target" => "#recipeModal", "data-toggle" =>"modal",class:"btn btn-outline-warning" %> </li>
    <li class="d-flex justify-content-between my-1"><%= @meal.dish.title %> <%= link_to "Voir la recette proportionnée", recipe_path(@meal.dish.id, ratio: current_user.needbymeal(@meal.category)/@meal.kcal),remote: true, "data-target" => "#recipeModal", "data-toggle"=>"modal",class:"btn btn-outline-warning" %> </li>
    <li class="mt-1 mb-2"><%= @meal.dessert.title %></li>
    <li class="my-2"><%= @meal.drink.title %></li>
    <li class="my-2"><%= @meal.complement.title %></li>
  </ul>

  <div class="text-center mt-5">
    <button name="button" id="shopping-list"class="btn btn-danger">Afficher Liste de Course</button>
  </div>
</div>

<script>
var btn = document.getElementById("shopping-list");

btn.addEventListener("click", function(){
  var nav = document.getElementById("nav");
  nav.hidden = false

  }, false);

var close = document.getElementById("close");
close.addEventListener("click", function(){
  var nav = document.getElementById("nav");
  nav.hidden = true

  }, false);
</script>

<div class="modal fade " id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="recipeBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
