<b>Votre : <%= @meal.category %></b>
<hr>
<ul>
  <li><%= @meal.starter.title %></li>
  <li><%= @meal.dish.title %></li>
  <li><%= @meal.dessert.title %></li>
  <li><%= @meal.drink.title %></li>
  <li><%= @meal.complement.title %></li>
</ul>

<%= link_to 'Edit', meal_path(@meal.id) %> |
<%= link_to 'Back', meals_path %>
