<div class="container">
  <div class="row"><div> <br><br><br></div></div>
  <div class="row">
    <div class="col-md-6 offset-md-3 shadow-lg bg-white rounded py-3">

      <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin mt-3" } do |f| %>
        <h1 class="h3 mb-3 font-weight-normal text-center text-success border-bottom pb-3">Connexion</h1>
      
        <div class="form-group mt-5">
         <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Mot de passe" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group text-center">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Se souvenir de moi" %>
          </div>
        <% end %>

        <div class="actions mt-5">
          <%= f.submit "Connexion", class: "btn btn-lg btn-success btn-block px-3" %>
        </div>
      <% end %>
      <div class = "text-center text-success my-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

