<p><%= @user.last_name%></p>
<p><%= @user.first_name%></p>
<p><%= @user.email%></p>

<%= form_with(url: "/user/:id", method: "put") do |f|%>

<div class="form-group">
  <%= f.label :birthday %>
  <%= f.date_field :birthday ,  value: current_user.birthday,required: true%>
</div>

<div class="form-group">
  <%= f.label :weight %>
  <%= f.number_field :weight,  value: current_user.weight ,required: true%>
</div>

<div class="form-group">
    <%= f.label :height %>
    <%= f.number_field :meter ,value: current_user.height.digits[2],required: true%>
    m
    <%= f.number_field :cm , value: current_user.height.to_s[1..2],required: true%>
    cm
</div>

<div class="form-group">
  <%= f.label :sexe %>
  <%= f.select :gender, [['Homme'],['Femmme']] , value: current_user.gender,required: true%>
</div>

<div class="form-group">
  <%= f.label :activity %>
  <%= f.select :activity, [['Sedantaire', '1.37'],['Actif', '1.50'],['Tres Actif', '1.80']] ,required: true%>
</div>

  <%= submit_tag("Mettre a jour mon profile") %>
<% end %>

<%= link_to "Modifier votre email et Mot de passe", edit_user_registration_path %>
