<!DOCTYPE html>
<html>
  <head>
    <title>Nutriti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/e5ab504795.js" crossorigin="anonymous"></script>
    

  </head>

  <body>
    <div class="container-fluid">
	  <div class="row">
		  <div class="col-md-12" id="content">
    <!-- Start of navbar-->
    <nav class="navbar navbar-expand-lg navbar-white bg-white">
      <%= link_to image_tag("logo_nutriti.svg", height: 50), week_path(current_user.id), class:"navbar-brand ml-5" %>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      </div>
      <button class="side-btn btn btn-outline-warning" id="nav-collapse" style="z-index: 9999;"><i class="fas fa-bars"></i></button>
    </nav>
    
    <!-- End of Navbar-->
    <% if current_user%>
      <% if current_user.incomplete_profile? %>
        <div class="alert alert-warning" role="alert">
         Veuillez remplir vos informations en <b><%= link_to "cliquant ici",edit_user_path(current_user.id), class:"text-warning"%></b> pour profiter pleinement de nos fonctionnalités.  
        </div>
      <% end %>
    <%end%>
    <%= yield %>

    <!-- Start of footer-->
    <% if current_page?(root_path) %>
    <footer class="page-footer mt-5">
        <div class="container-fluid bg-success py-1 text-center">
    <% else %>
    <footer class="page-footer fixed-bottom mt-5">
        <div class="container-fluid bg-success py-1 text-center fixed-bottem">
    <% end %>
          <p class="text-white mt-2">
            <i class="far fa-copyright"></i> Fait avec <i class="fas fa-heart text-warning"></i> par l'équipage Nantais 
        </div>  
        <div class="container-fluid bg-dark py-1">
          <div class="container text-center text-white">
          </div>
        </div>
    </footer>
    <!-- End of footer-->
    
      </div>
      <div id="side-nav" class="container-right" style="display:none;">
      <div class="right-nav bg-light d-flex flex-column ">
        <ul class="nav flex-column align-items-end right-nav mt-4">
          <li class="nav-item my-2 <%= 'active' if current_page?(user_path) %>"><%= link_to "Voir profil", user_path(current_user.id), class: "btn btn-warning" %></li>
          <% if current_user.is_admin %>
          <hr>
            <li class="nav-item my-2">
              <%= link_to "Dashboard Admin", admin_dashboard_index_path, class:"btn btn-warning" %>
            </li>    
          <% end %>
          <hr>
          <li class="nav-item my-2 <%= 'active' if current_page?(root_path) %>"><%= link_to "Planning", root_path, class:"btn btn-warning" %></li>
          <hr>
          <li class="nav-item my-2"><%= link_to "Configurer son petit déjeuner", edit_breakfast_path(current_user.breakfast.id), class:'btn btn-success'%></li>
          <hr>
          <li class="nav-item my-2"><%= link_to "Générer un repas", meals_path, data:{method: 'post'}, class:'btn btn-warning'%></li>
          <hr>
          <li class="nav-item my-2"><%= link_to "Générer une journée complète", days_path, data:{method: 'post'}, class:'btn btn-info'%></li>
          <hr>
          <li class="nav-item my-2 <%= 'active' if current_page?(root_path) %>"><%= link_to "Se déconnecter", destroy_user_session_path, class:"btn btn-danger", method: :delete %></li>
        </ul>
        </div>      
	</div>
  <script>
let nav = document.getElementById("side-nav");
let content = document.getElementById("content"); 
let button = document.getElementById("nav-collapse");

button.addEventListener("click", function () {
    if (nav.style.display === "none") {
    nav.style.display = "block";
    button.animate([
      { transform: 'translateX(0px)' }, 
      { transform: 'translateX(-250px)' }
    ], { 
      duration: 250,
    });
    nav.animate([
      { transform: 'translateX(+250px)' }, 
      { transform: 'translateX(0px)' }
    ], { 
      duration: 250,
    });
    button.style.transform = "translateX(-250px)";
    button.classList.remove('btn-outline-warning');
    button.classList.add('btn-warning');
  } else {
        button.animate([
      { transform: 'translateX(-250px)' }, 
      { transform: 'translateX(0px)' }
    ], { 
      duration: 250,
    });
    nav.animate([
      { transform: 'translateX(0px)' }, 
      { transform: 'translateX(+250px)' }
    ], { 
      duration: 300,
    });
    button.style.transform = "translateX(0px)";
    button.classList.remove('btn-warning');
    button.classList.add('btn-outline-warning');
    setTimeout(hide, 300)
    function hide() {
      nav.style.display = "none";
    }
  }
})
</script>
  </body>
</html>

